<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @*<meta name="description" 
          content="A Mountain Climbers Tracking web and phone app for use in all your mountain climbing planning. 
          We have compiled comprehensive data on Mountains, Walls, and Routes. Additionally we have create a range of 
          tools to transform this data for your planning and community needs." />
    <meta name="keywords" content="Mountain Climbing, Tracking, Mountains, Wall, Routes, Climbing" />*@
    <meta name="author" content="Angelo Sanches" />
    <title>Mtn Tracker - @ViewBag.Title</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mountain Tracker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Meet The Team", "MeetTheTeam", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Route Quick Editor", "Index", "RouteQuickEditor", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MTN Tracker App Family</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
