
@{
    ViewBag.Title = "ProfileView";
}
<script src="~/Scripts/AngularJSAccount.js"></script>
<div ng-app="NGAccount" ng-controller="AccountViewController">
    <input type="hidden" ng-init="Init(@ViewBag.UserID, @Session[Mountain_Tracker_Climb___API.App_Start.StaticVars.UserID])">
    <div style="background-size:100%;background-image: url({{Banner}}); background-color: aliceblue; height: 400px; width: 100%; opacity: 20; position: absolute; top: 0px; left: 0; z-index: -20"></div>
    <div class="media" style="padding-top:90px">
        <div class="media-left">
            <img ng-src="{{ProfilePicture}}" class="media-object ProfilePictureImage" style="border-radius:50%;border:inset;">
        </div>
        <div class="media-body">
            <h1 class="media-heading">{{User.UserName}} Profile</h1>
            <h4 class="media-heading">Info</h4>
            <ul class="list-group">
                <li ng-if="(!User.KeepPrivate)||IsFriend" class="list-group-item">User Name: {{User.UserName}}</li>
                <li ng-if="(!User.KeepPrivate)||IsFriend" class="list-group-item">First Name: {{User.FirstName}}</li>
                <li ng-if="(!User.KeepPrivate)||IsFriend" class="list-group-item">Middle Name: {{User.MiddleName}}</li>
                <li ng-if="(!User.KeepPrivate)||IsFriend" class="list-group-item">Last Name: {{User.LastName}}</li>
                <li class="list-group-item">URL: <a href="{{User.ProfileURL}}">{{User.ProfileURL}}</a></li>
                <li ng-if="(!User.KeepPrivate)||IsFriend" class="list-group-item">User Account Type: @Mountain_Tracker_Climb___API.Security.SecurityLevelAttribute.AccessLevelNames[(int)Session[Mountain_Tracker_Climb___API.App_Start.StaticVars.AccessLevelID]]</li>
                <li class="list-group-item">Region: {{PrintUserCountry()}}</li>
                <li ng-if="User.KeepPrivate&&(!IsFriend)" class="list-group-item">This account is set to Private</li>
            </ul>
            <input ng-if="!HasFriendRequest && @ViewBag.UserID !== @Session[Mountain_Tracker_Climb___API.App_Start.StaticVars.UserID]" type="button" class="btn btn-default" ng-click="SendFriendRequest(@Session[Mountain_Tracker_Climb___API.App_Start.StaticVars.UserID], @ViewBag.UserID)" value="Send Partner Request">
            <input ng-if="IsFriend && @ViewBag.UserID !== @Session[Mountain_Tracker_Climb___API.App_Start.StaticVars.UserID]" type="button" class="btn btn-default" ng-click="SendMessage(@ViewBag.UserID)" value="Send Message">
        </div>
        <div class="media-bottom">
            <h3 class="media-heading">Bio</h3>
            <ul class="list-group">
                <li class="list-group-item" style="min-height:200px">{{User.Bio}}</li>
            </ul>
        </div>
        <div class="media-bottom row">
            <div class="col-lg-2">
                <h3 class="media-heading">Climbing Partners</h3>
                <ul class="list-group">
                    <li ng-click="ViewFullFriendsList()" class="list-group-item" style="min-height:200px">This will maybe be a spot for friends</li>
                </ul>
            </div>
            <div class="col-lg-10">
                <h3 class="media-heading">Feed</h3>
                <ul class="list-group">
                    <li class="list-group-item" style="min-height:200px">This will maybe be a feed</li>
                </ul>
            </div>
        </div>
    </div>
</div>